

<!-- <div  *ngFor= "let n of  d2">
   {{ n}}
</div> -->

<!-- part 2 method#1 -->
<!-- <button (click)="passtoParent()">click to Send</button> -->
<!-- <p> child/header input </p> -->
<!-- <input  (input)="updatemessage($event)"> -->

<!--part 2 method #2 template varable bida-->
<!-- <p>Type location here ip box which is in child component:</p> -->
<!-- <input type="text" (input)="myFun($event)">  -->



<!-- below is part2 method #3 -->
<p>ENter your power you want</p>
<input type="text" name="name" [(ngModel)]="power" >