<!-- this is part 2 passing data beten child and parent there are 3 methold-->

<!-- <app-header (customeve)="cdata=$event" d2="arr" app-header> -->
<!-- {{cdata}} -->

<!-- method#1 this is using Output -->
    <!-- <app-header (customeve)="cdata = $event"></app-header> -->


<!-- method#2 This is using template variable (bida)can be named anything else like childvar ..etc -->
 <!-- {{bida.today}} -->
<!-- <app-header  #bida></app-header> -->
<!-- <p>This is parent component displaying location {{bida.location}}</p> -->

<!-- Method #3 using ViewChild -->
<!-- <app-header></app-header> -->
<!-- <p>This shows powerr in parent component {{header?.power}}</p> -->




<!-- below is  part one -->

<!-- <input type="text" name="name" (input)="inpFun($event)" #v> -->


<!-- <input type="text" name="name" [(ngModel)]="person.number"> -->


<!-- this v.value is like target.value not a variavle in app component -->
<!-- <p >{{v.value}}</p> -->

<!-- <h2>name of person is{{person.number}}</h2>  -->
<!-- | is interpolaton ,check out test pipe file -->


<!-- below is part 3 DOM maipulation -->

<!-- <input type="text"   #test> -->
<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

<h2 #heading>This is heading1</h2>
<h2 #heading>This is heading2</h2>
<button (click)="printfun()">print</button>